{% load hi %}
<a href="{% url url_name %}"
  class="flex items-center py-1 px-2 gap-x-2 rounded-md hover:bg-blue-100 hover:text-blue-800 
    {% if request.resolver_match.url_name == url_name %}bg-blue-100 text-blue-800
    {% else %}text-gray-700{% endif %}"
  >
  {% hi icon css_class="h-5 w-5 flex-shrink-0" %}
  <span class="sidebar-text flex items-center w-full justify-between">
    {{ label }}
    {% if badge is not None %}<span class="text-xs leading-none">{{ badge }}</span>{% endif %}
  </span>
</a>
